.App {
  font-family: sans-serif;
  text-align: center;
}

#board {
  justify-self: center;
  display: inline-grid;
  max-height: 885px;
  max-width: 850px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.App .square {
  box-sizing: border-box;
}
.beige {
  background-color: beige;
}

.grey {
  background-color: grey;
}

.highlight {
  background-color: teal;
}

img {
  height: 100%;
  width: 100%;
}