.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .App .square {
    width: 12%;
    height: 80px;
    box-sizing: border-box;
    float: left;
  }
  .white {
    background-color: beige;
  }
  
  .black {
    background-color: blue;
  }
  