.App {
    font-family: sans-serif;
    text-align: center;
  }
  
#board {
  display: inline-grid;
  grid-template-columns: repeat(8, 5vw);
  grid-template-rows: repeat(8, 5vw);
}
  .App .square {
    box-sizing: border-box;
    /* float: left; */
  }
  .white {
    background-color: beige;
  }
  
  .black {
    background-color: grey;
  }
  
  img {
    height: 100%;
    width: 100%;
  }